modules = ["nodejs-20", "web"]
run = "npm run preview"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run preview"]

[[ports]]
localPort = 5000
externalPort = 8080


[workflows]
runButton = "Full Stack Dev"

[[workflows.workflow]]
name = "Backend Server"
author = 44679901
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm install && npm run dev"

[[workflows.workflow]]
name = "Full Stack Dev"
author = 44698922
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm install && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run preview"
